.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block;
        margin-right: 76px;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF; 
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.studio {
    color: #2E2F42;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.menu{
    display: flex;
        align-items: center;
    gap: 24px;
        justify-content: center;
}

.page-nav {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
}

.page-nav .link {
    color: #2E2F42;
    padding: 24px 0;
    display: inline-block;
}

.page-nav .link:hover {
    color: #404BBF;
}

.page-nav .link:focus {
    color: #404BBF;
}

.contacts {
    display: flex;
    gap: 40px;
}
.address {
    color: #434455;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address .link {
    color: #434455;
}

.address .link:focus,
.address .link:hover {
    color: #404bbf;
}



.section-button {
    background-color: #2E2F42;
    padding: 188px 0;
}

.button-header {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
}

.button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 16px 32px;
    border-radius: 4px;
}

.button:focus {
    background-color: #404BBF;
}

.button:hover {
    background-color: #404BBF;
}

.feature-section{
    padding: 120px 0;
}

.hidden{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.section-list{
    display: flex;
    gap: 24px;
    margin-right: 24px;
    margin: 0;
    padding: 0;
}

.activities {
flex-basis: calc((100% - 3 * 24px) / 4);
}

.activities-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.activities-paragh {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.team-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.team-list{
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.team-cards {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
            0px 1px 1px 0px rgba(46, 47, 66, 0.16),
            0px 1px 6px 0px rgba(46, 47, 66, 0.08);

     width: calc((100% - 72px) / 4);
}

.card-block{
    padding: 32px 0;
}

.team-members {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-paragh {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.section-portfolio{
    padding: 120px 0 120px 0;
}

.portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.project-cards{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin: 0;
    padding: 0;
}

.portfolio-item {
 width: calc((100% - 48px) / 3);
}

.portfolio-block{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

.project-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.project-paragh {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.end-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-bottom: 16px;
}

.end-studio {
    color: #F4F4FD;
}

.para {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}